In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
swiggy = pd.read_csv(r"C:\Users\hp\Downloads\swiggy.csv")

In [3]:
food_type_dummies = swiggy['Food_type'].str.get_dummies(sep=',')
swiggy = pd.concat([swiggy, food_type_dummies], axis=1)
swiggy.head()

,ID,Area,City,Restaurant,Price,Avg_ratings,Total_ratings,Food_type,Address,Delivery_time,...,Thai,Thalis,Tibetan,Tibetan Chinese Asian Snacks Continental Desserts Beverages,Tribal,Turkish,Use code XPRESS121 to avail.,Vietnamese,Waffle,indian
0,211,Koramangala,Bangalore,Tandoor Hut,300,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,...,0,0,0,0,0,0,0,0,0,0
1,221,Koramangala,Bangalore,Tunday Kababi,300,4.1,100,"Mughlai,Lucknowi",5Th Block,56,...,0,0,0,0,0,0,0,0,0,0
2,246,Jogupalya,Bangalore,Kim Lee,650,4.4,100,Chinese,Double Road,50,...,0,0,0,0,0,0,0,0,0,0
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57,...,0,0,0,0,0,0,0,0,0,0
4,249,Indiranagar,Bangalore,Nh8,350,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63,...,0,1,0,0,0,0,0,0,0,0

In [4]:
swiggy.head(3)

,ID,Area,City,Restaurant,Price,Avg_ratings,Total_ratings,Food_type,Address,Delivery_time,...,Thai,Thalis,Tibetan,Tibetan Chinese Asian Snacks Continental Desserts Beverages,Tribal,Turkish,Use code XPRESS121 to avail.,Vietnamese,Waffle,indian
0,211,Koramangala,Bangalore,Tandoor Hut,300,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59,...,0,0,0,0,0,0,0,0,0,0
1,221,Koramangala,Bangalore,Tunday Kababi,300,4.1,100,"Mughlai,Lucknowi",5Th Block,56,...,0,0,0,0,0,0,0,0,0,0
2,246,Jogupalya,Bangalore,Kim Lee,650,4.4,100,Chinese,Double Road,50,...,0,0,0,0,0,0,0,0,0,0

In [5]:
swiggy.count()

ID                              8680
Area                            8680
City                            8680
Restaurant                      8680
Price                           8680
                                ...
Turkish                         8680
Use code XPRESS121 to avail.    8680
Vietnamese                      8680
Waffle                          8680
indian                          8680
Length: 611, dtype: int64

In [6]:
swiggy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Columns: 611 entries, ID to indian
dtypes: float64(1), int64(605), object(5)
memory usage: 40.5+ MB

In [7]:
swiggy.isnull().sum()

ID                              0
Area                            0
City                            0
Restaurant                      0
Price                           0
                               ..
Turkish                         0
Use code XPRESS121 to avail.    0
Vietnamese                      0
Waffle                          0
indian                          0
Length: 611, dtype: int64

In [8]:
swiggy = swiggy[['ID', 'Area' , 'City' , 'Restaurant', 'Price', 'Avg_ratings', 'Food_type', 'Address']]

In [9]:
swiggy.head(3)

,ID,Area,City,Restaurant,Price,Avg_ratings,Food_type,Address
0,211,Koramangala,Bangalore,Tandoor Hut,300,4.4,"Biryani,Chinese,North Indian,South Indian",5Th Block
1,221,Koramangala,Bangalore,Tunday Kababi,300,4.1,"Mughlai,Lucknowi",5Th Block
2,246,Jogupalya,Bangalore,Kim Lee,650,4.4,Chinese,Double Road

In [10]:
def convert3(obj):
    l=[]
    l.append(obj)
    return l

In [11]:
swiggy['Area'] = swiggy['Area'].apply(convert3)

In [12]:
swiggy['City'] = swiggy['City'].apply(convert3)
swiggy['Rest'] = swiggy['Restaurant'].apply(convert3)
swiggy['Price'] = swiggy['Price'].apply(convert3)
swiggy['Avg_ratings'] = swiggy['Avg_ratings'].apply(convert3)
swiggy['Food'] = swiggy['Food_type'].apply(convert3)
swiggy['Address'] = swiggy['Address'].apply(convert3)

In [13]:
swiggy.head(3)

,ID,Area,City,Restaurant,Price,Avg_ratings,Food_type,Address,Rest,Food
0,211,[Koramangala],[Bangalore],Tandoor Hut,[300],[4.4],"Biryani,Chinese,North Indian,South Indian",[5Th Block],[Tandoor Hut],"[Biryani,Chinese,North Indian,South Indian]"
1,221,[Koramangala],[Bangalore],Tunday Kababi,[300],[4.1],"Mughlai,Lucknowi",[5Th Block],[Tunday Kababi],"[Mughlai,Lucknowi]"
2,246,[Jogupalya],[Bangalore],Kim Lee,[650],[4.4],Chinese,[Double Road],[Kim Lee],[Chinese]

In [14]:
swiggy['Rest'] = swiggy['Rest'].apply(lambda x:[i.replace(" ", "") for i in x])
swiggy['Address'] = swiggy['Address'].apply(lambda x:[i.replace(" ", "") for i in x])
swiggy['Food'] = swiggy['Food'].apply(lambda x:[i.replace(" ", "") for i in x])

In [15]:
swiggy.head(3)

,ID,Area,City,Restaurant,Price,Avg_ratings,Food_type,Address,Rest,Food
0,211,[Koramangala],[Bangalore],Tandoor Hut,[300],[4.4],"Biryani,Chinese,North Indian,South Indian",[5ThBlock],[TandoorHut],"[Biryani,Chinese,NorthIndian,SouthIndian]"
1,221,[Koramangala],[Bangalore],Tunday Kababi,[300],[4.1],"Mughlai,Lucknowi",[5ThBlock],[TundayKababi],"[Mughlai,Lucknowi]"
2,246,[Jogupalya],[Bangalore],Kim Lee,[650],[4.4],Chinese,[DoubleRoad],[KimLee],[Chinese]

In [16]:
swiggy['tags'] = swiggy['Food']+ swiggy['Area']+swiggy['Address']+swiggy['Rest']+swiggy['City']

In [17]:
swiggy.head(3)

,ID,Area,City,Restaurant,Price,Avg_ratings,Food_type,Address,Rest,Food,tags
0,211,[Koramangala],[Bangalore],Tandoor Hut,[300],[4.4],"Biryani,Chinese,North Indian,South Indian",[5ThBlock],[TandoorHut],"[Biryani,Chinese,NorthIndian,SouthIndian]","[Biryani,Chinese,NorthIndian,SouthIndian, Kora..."
1,221,[Koramangala],[Bangalore],Tunday Kababi,[300],[4.1],"Mughlai,Lucknowi",[5ThBlock],[TundayKababi],"[Mughlai,Lucknowi]","[Mughlai,Lucknowi, Koramangala, 5ThBlock, Tund..."
2,246,[Jogupalya],[Bangalore],Kim Lee,[650],[4.4],Chinese,[DoubleRoad],[KimLee],[Chinese],"[Chinese, Jogupalya, DoubleRoad, KimLee, Banga..."

In [18]:
new_df = swiggy[['ID', 'Food_type', 'Restaurant', 'tags']]

In [19]:
new_df.head(3)

,ID,Food_type,Restaurant,tags
0,211,"Biryani,Chinese,North Indian,South Indian",Tandoor Hut,"[Biryani,Chinese,NorthIndian,SouthIndian, Kora..."
1,221,"Mughlai,Lucknowi",Tunday Kababi,"[Mughlai,Lucknowi, Koramangala, 5ThBlock, Tund..."
2,246,Chinese,Kim Lee,"[Chinese, Jogupalya, DoubleRoad, KimLee, Banga..."

In [20]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\hp\AppData\Local\Temp\ipykernel_14324\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [21]:
new_df.head(3)

,ID,Food_type,Restaurant,tags
0,211,"Biryani,Chinese,North Indian,South Indian",Tandoor Hut,"Biryani,Chinese,NorthIndian,SouthIndian Korama..."
1,221,"Mughlai,Lucknowi",Tunday Kababi,"Mughlai,Lucknowi Koramangala 5ThBlock TundayKa..."
2,246,Chinese,Kim Lee,Chinese Jogupalya DoubleRoad KimLee Bangalore

In [22]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\hp\AppData\Local\Temp\ipykernel_14324\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [23]:
new_df.head(3)

,ID,Food_type,Restaurant,tags
0,211,"Biryani,Chinese,North Indian,South Indian",Tandoor Hut,"biryani,chinese,northindian,southindian korama..."
1,221,"Mughlai,Lucknowi",Tunday Kababi,"mughlai,lucknowi koramangala 5thblock tundayka..."
2,246,Chinese,Kim Lee,chinese jogupalya doubleroad kimlee bangalore

In [24]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [25]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [26]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\hp\AppData\Local\Temp\ipykernel_14324\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [27]:
new_df.head(3)

,ID,Food_type,Restaurant,tags
0,211,"Biryani,Chinese,North Indian,South Indian",Tandoor Hut,"biryani,chinese,northindian,southindian korama..."
1,221,"Mughlai,Lucknowi",Tunday Kababi,"mughlai,lucknowi koramangala 5thblock tundayka..."
2,246,Chinese,Kim Lee,chines jogupalya doubleroad kimle bangalor

In [28]:
new_df.tail(5)

,ID,Food_type,Restaurant,tags
8675,464626,Pizzas,Malt Pizza,pizza panjarapol cross road navrangpura maltpi...
8676,465835,South Indian,Jay Mata Ji Home Kitchen,southindian rohini rohini jaymatajihomekitchen...
8677,465872,"Chinese,Snacks,Tandoor",Chinese Kitchen King,"chinese,snacks,tandoor rohini rohini chineseki..."
8678,465990,"North Indian,Indian,Snacks",Shree Ram Paratha Wala,"northindian,indian,snack rohini rohini shreera..."
8679,466488,"Chaat,Snacks,Chinese",Sassy Street,"chaat,snacks,chines navrangpura navrangpura sa..."

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 8680, stop_words = 'english')

In [30]:
vectors = cv.fit_transform(new_df['tags']).toarray()
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [31]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(460, 0.7216878364870323),
 (1699, 0.7071067811865475),
 (4665, 0.6708203932499369),
 (5464, 0.6614378277661476),
 (1249, 0.6396021490668312)]

In [32]:
def recommend(food):
    food_index = new_df[new_df['Food_type'] == food].index[0]
    distances = similarity[food_index]
    food_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    print("Top 5 foods and there restaurants are:-\n")
    for i in food_list:
        print(f"Food:{new_df.iloc[i[0]].Food_type} -> restraunt: {new_df.iloc[i[0]].Restaurant} ")

In [33]:
recommend('Chinese,Snacks,Tandoor')

Top 5 foods and there restaurants are:-

Food:Chinese,Snacks,Beverages -> restraunt: Snac Zilla
Food:North Indian,Snacks,Chinese,Bakery -> restraunt: Bansiwala
Food:Tandoor,Chinese,Biryani -> restraunt: Shree Vaishno Rasoi
Food:Chinese,North Indian,Tandoor -> restraunt: Chulha Chowka
Food:Chinese,Fast Food -> restraunt: Fat Chinese Chef